// Global
* {
  all: unset;
}

// Taken from Rosé-Pine
$background: #232136;
$foreground: #faf4ed;

// EWW BAR
.eww_bar {
  background-color: $background;
  padding: 0.3rem;
  margin: 0.2rem;
  border-radius: 1rem;
  border: 1px solid $foreground;
}
